/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 13 juin 2022, 10:21:01
    Author     : AGuizani
*/

/*
*{
    dark-primary-color: #6a0080; 
    secondary-Dark-Color:#32cb00;
    default-primary-color: #9c27b0;
    light-primary-color: #d05ce3; 
    text-primary-color: #FFFFFF; 
    secondary-Color:#76ff03; 
    secondary-Light-Color:#b0ff57;
    primary-text-color: #212121; 
    secondary-text-color: #000000; 
    divider-color: #BDBDBD; 
}*/

*{
    dark-primary-color: #00227b; 
    secondary-Dark-Color:#99aa00;
    default-primary-color: #3949ab;
    light-primary-color: #C5CAE9; 
    text-primary-color: #FFFFFF; 
    secondary-Color:#cddc39; 
    secondary-Light-Color:#ffff6e;
    primary-text-color: #212121; 
    secondary-text-color: #000000; 
    divider-color: #BDBDBD; 
}

#p_up{
    -fx-background-color:dark-primary-color;
}

#ap_up{
    -fx-background-color:white;
}

.submenu{
    /*-fx-background-color:#C5CAE9;*/
    -fx-background-insets: 5.0 0.0 0.0 5.0;
}

#slider{
    -fx-background-color: dark-primary-color;
}


#MenuClose{
    -fx-text-fill:primary-text-color;
    -fx-font-size:14;
    -fx-font-weight:bold;
}
#Menu{
    -fx-text-fill:divider-color;
    -fx-font-size:14;
    -fx-font-weight:bold;
}

.button{
    -fx-background-color:transparent;
    -fx-font-size:15;
    -fx-font-weight:bold;
    -fx-alignment:BASELINE_LEFT;
    
}

.MenuItem{
    -fx-text-fill:secondary-text-color;
    -fx-opacity:0.2;

}

.BarItem{
    -fx-text-fill:text-primary-color;
    
}

.MenuItem:hover{
    -fx-border-color: secondary-Color;
    -fx-border-width:0px 0px 3px 0px;
    -fx-opacity:1;

}

.BarItem:hover{
    -fx-background-color:light-primary-color;
    -fx-border-color: secondary-Color; 
    -fx-border-width:0px 0px 0px 3px;
    transition-delay: .5s;
    
}

alert{
    -fx-color:red;
}

btnlog{
    -fx-color:white;
    -fx-text-align:center;
}
